<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prodacts</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 mt-4"><h1>Products</h1></div>
        <div class="Category col-sm-12">
          <div class="container">
            <div class="row allCategory">

              <h1 class="alert alert-warning mt-5 ">U didn't have Any Category Add Product First</h1>

            </div>

        
          <!-- <div class="row mt-5">
            <div class="row  col-sm-12 ">
              <div class="Category ">
                
              </div>
            </div>
         
          </div>  -->
        </div>
       

        </div>
        <div class="container p-5 ">
          <div class="row mt-5 Products"></div>
        </div>
      </div>
    </div>

    <script src="/Components/products/mainproducts.js"></script>
  </body>
</html>



      


















 